<div class="lightenup">
<h2>About Conduit Robotic</h2>

<div class="fright"><%=image_tag('mike.jpg', :width=>"200px")%></div>
Conduit Robotic is the stage name of Musician, Producer, and DJ Mike Heijmans. Conduit Robotic hails from the San Francisco Bay Area and works in Electo, Dance, and Dubstep music. 

<br/><br/>By day, Mike is an operations engineer for a fortune 500 web company and is an all around tech nerd. He enjoys writing new software and designing new ways to improve the electronic music scene and continues to innovate on what is currently available. 

<br/><br/>By night, Mike can rock a club and pack a dance floor with his diverse mix of dance inspiring music from around the world that often includes his own remixes and originals.

<br/><br/>Conduit Robotic is always for hire and can be contacted by using the <%=link_to("contact form", :controller=>:site, :action=>:contact)%> or by emailing directly to: bookme @ conduitrobotic.com

 
</div>