<h1>Latest News</h1>
<div class="lightenup">
	<%if @post.nil?%>
		<h2>No posts yet</h2>
		No posts yet
	<%else%>
		<h2><%=@post.title%></h2>
		<div class="time">Posted: <%=rel_date(@post.created_at.to_s)%></div>
		<%=@post.data%>
	<%end%>
</div>

<%=link_to("More News", :controller=>:posts, :action=>:index)%>